OBSIDIAN_TOKEN=<your_bearer_api_key_here>       # you get it from downloading the plugin from obsidian
AGENT_API_KEY=<your_groq_api_key_here>          # you get it from https://groq.com/console/api-keys
AGENT_MODEL=<your_agent_model_here>             # you can change this from groq also
OBSIDIAN_HOST=https://127.0.0.1                 # you can change this if you have changed the host in the plugin settings
OBSIDIAN_PORT=27124                             # you can change this if you have changed the port in the plugin settings